PORT=3001
CLIENT_ORIGIN=http://localhost:5173
DB_PATH=./data/wrapgen.db
TEMPLATES_DIR=../templates

R2_ENDPOINT=https://<accountid>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=wrapgen
R2_PUBLIC_URL=https://pub-<hash>.r2.dev

FAL_KEY=
